body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: black;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: black;
}

select, textarea, input[type="submit"], input[type="reset"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(243, 243, 233);
    border-radius: 4px;
    font-size: 16px;
}

select {
    background-color: rgb(243, 243, 233);
}

textarea {
    resize: vertical;
    background-color: rgb(243, 243, 233);
}

input[type="submit"], input[type="reset"] {
    background-color: rgb(135, 135, 127);
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(51, 183, 10);
} 


input[type="reset"]:hover {
    background-color: rgb(215, 71, 63);
}

footer {
    text-align: center;
    margin-top: 20px;
    color: gray;
    font-size: 14px;
}
